*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/*/release/
sign.json
demo/libs/
demo/src/main/cpp/glm/CMakeFiles/
demo/src/main/cpp/glm/Makefile
demo/src/main/cpp/glm/cmake_install.cmake
demo/src/main/java/me/juhezi/demo/util/
eternal/libs/
eternal/src/main/java/me/juhezi/eternal/component/
eternal/src/main/java/me/juhezi/eternal/listener/
main/libs/
main/src/main/assets/plugin/
notepad/libs/
notepad/src/main/java/me/juhezi/notepad/model/
orange/libs/
orange/src/androidTest/
orange/src/main/cpp/common/CMakeFiles/
orange/src/main/cpp/common/Makefile
orange/src/main/cpp/common/Source/esUtil.h
orange/src/main/cpp/common/cmake_install.cmake
orange/src/main/java/me/juhezi/orange/lame/
orange/src/main/res/drawable/
orange/src/test/
sdk/libs/
sdk/src/main/res/drawable/
