*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/*/release/
sign.json

demo/src/main/cpp/glm/CMakeFiles/
demo/src/main/cpp/glm/Makefile
demo/src/main/cpp/glm/cmake_install.cmake